@model PeopleSearch.Areas.AreaPerson.Models.ConnectionString

@if (@Model.Message.Contains("Connection established successfully"))
{
    <div class="col-lg-offset-2 col-sm-6 form-control-static ">

        <div class="alert-success">
            @Html.Label(@Model.Message)
        </div>
        <div class="">
            @Html.Label(@Model.FinalConfigurationString)
        </div>
    </div>

}

@if (!@Model.Message.Contains("Connection established successfully"))
{
    <div class="col-lg-offset-2 form-control-static ">
        <div class="alert-danger">
            <label> Error Occured while loading seed data. Please re-launch application and provide new connectionstring configurations</label>
            @Html.Label(@Model.Message)
        </div>
        <div class="">
            @Html.Label(@Model.FinalConfigurationString)
        </div>
    </div>

}




