@model PeopleSearch.Areas.AreaPerson.Models.ConnectionString

@if (@Model.Message.Contains("Connection established successfully"))
{
    <div class=" form-control-static ">
        <div class="alert-success">
            @Html.Label(@Model.Message)
        </div>
        <div class="">
            @Html.Label(@Model.FinalConfigurationString)
        </div>
    </div>

}

@if (!@Model.Message.Contains("Connection established successfully"))
{
    <div class=" form-control-static ">
        <div class="alert-danger">
            Error Occured while loading seed data. Please try again with correct connectionstring configurations
            @Html.Label(@Model.Message)
        </div>
        <div class="">
            @Html.Label(@Model.FinalConfigurationString)
        </div>
    </div>

}




